.hero {
  min-height: 80vh;
  background: rgba(0, 0, 0, 0.5) url("./assets/background.png");
  background-size: cover;
  background-blend-mode: color-dodge;
}

.hero .hero__container {
  margin-top: 10vh;
  padding: 2rem;
  color: white;
  font-size: 1.5rem;
}

.hero .hero__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.dropdown-menu-dark {
  background: rgba(0, 0, 0, 0.9);
}

#search-input {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.select-material {
  width: 100%;
}

.select-material .dropdown-toggle {
  text-align: start;
  min-width: 100px;
}

.select-material .select-material__placeholder {
  font-size: 0.75rem;
}

.filters {
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 2rem;
}

#search-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#search-button:hover {
  background-color: #087f5b;
}

.tour-card {
  width: 90%;
  height: 65vh;
  border-radius: 16px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 auto;
}

.tour-card:hover {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.tour-card .card-img-top {
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tour-card .card-title {
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: calc(50% - 20px);
}

.tour-card .tour-card__grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-teal {
  background: #087f5b;
}

.bg-teal {
  background: #087f5b;
}

.section__description {
  margin-bottom: 5rem;
}

.section__title {
  position: relative;
}

.section__title::before {
  width: 70%;
  height: 30%;
  content: " ";
  background: #daeae6;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.price-card {
  width: 80%;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.price-card .price-card__subtitle {
  font-size: 0.75rem;
}

.price-card .price-card__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1rem 0;
}

.price-card:hover {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.price-card:hover .btn-dark {
  background: #087f5b;
}

.section-price {
  padding: 5rem 1rem !important;
}

.blog-card .blog-card__img {
  height: 100px;
  width: 100px;
}

.contact__form .form-check-input:checked {
  background-color: #087f5b;
  border-color: #087f5b;
}

.contact__send {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contact__send:hover {
  background: #087f5b;
}

.map {
  min-height: 50vh;
}

.contact__adr {
  position: absolute;
  left: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.social .social_btn {
  height: 50px;
  width: 50px;
}

.social .social_btn:hover {
  background-color: black;
}

@media (min-width: 600px) {
  .hero .hero__container {
    margin-top: 10vh;
    width: 60%;
    margin-left: 5vw;
    color: white;
    font-size: 1.5rem;
  }
  .hero .hero__title {
    font-size: 3rem;
  }
  .filters {
    height: 30vh;
    bottom: 15vh;
    width: 80%;
  }
  .filters .filters__row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .section__description {
    max-width: 70%;
  }
  .tour-card {
    width: 25vw;
    height: 60vh;
  }
  .price-card {
    width: auto;
  }
  .section-price .row {
    gap: 0 !important;
  }
  .map__img {
    position: absolute;
    right: 0;
    top: 0;
    height: 90%;
  }
  .contact__adr {
    position: absolute;
    left: 0;
  }
}
/*# sourceMappingURL=main.css.map */